body{
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
    background:#dfe8f3;
}

.main{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.card{
    width:320px;
    background:white;
    border:2px solid #7ed957;
    border-radius:8px;
    padding:20px;
    text-align:center;
    box-shadow:0px 0px 10px lightgray;
}

h2{
    color:#2c7a2c;
}

h3{
    color:#444;
}

p{
    color:#555;
    line-height:1.5;
}

hr{
    margin:15px 0;
}

button{
    background:#4CAF50;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:5px;
    cursor:pointer;
    font-weight:bold;
}

button:hover{
    background:#2e8b57;
}